<header class="mainHeader">
  <div class="container">
    <h2><a href="{{site.baseurl}}/index" class="custom-logo-lin" rel="home" itemprop="url">
      <!--<img  height="40" src="{{site.baseurl}}/img/propa.pn" class="custom-logo" alt=""
        itemprop="logo" srcset="{{site.baseurl}}/img/propa.pn 415w, {{site.baseurl}}/img/propa.pn 300w"
        sizes="(max-width: 415px) 100vw, 415px" />-->ceptre
    </a></h2>
    <div class="d-flex align-items-center">

      <div class="mainHeader__toggle">
        <a href="javascript:;">
          <span>menu</span>
          <div class="toggleControl"></div>
        </a>
      </div>

    </div>

    <div class="primaryNav col-12">
      <div>
        <h3 class="primaryNav__title">menu</h3>
        <div class="menu-page-menu-container">
          <ul id="menu-page-menu" class="primaryNav__menu">
            <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-40 current_page_item menu-item-161">
              <a href="{{site.baseurl}}/index">home</a>
            </li>
            <li id="menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1008">
              <a href="{{site.baseurl}}/about">about</a>
            </li>
            <li id="menu-item-163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163">
              <a href="{{site.baseurl}}/work/">work</a>
            </li>
            <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
              <a href="{{site.baseurl}}/contact">contact</a>
            </li>
          </ul>
        </div>
        <div class="primaryNav__social">
          <h4>follow us</h4>
          <nav>
            <a target="_blank" href="https://www.instagram.com/_ceptre/">instagram</a>
            <a target="_blank" href="https://www.facebook.com/Ceptre-164734807497102/">facebook</a>
            <a target="_blank" href="https://www.twitter.com/_ceptre/">twitter</a>
            <a target="_blank" href="https://www.behance.net/ceptre">behance</a>
          </nav>
        </div>
      </div>
    </div>

  </div>

</header>
