---
layout: default
---

<article class="post-1140 project type-project status-publish has-post-thumbnail hentry project_category-branding project_category-communication project_category-web-design">


    <header class="project__header" style="background-image: url('{{site.baseurl}}/img/projects/{{page.header-image}}');">
      <div class="project__info">
        <div class="container">
          <h1 class="project__title">{{page.title}}</h1>
          <div class="project__categories">{{page.sub-title}}</div>
        </div>
      </div>
    </header>


    <div class="project__content">
      <div class="container">
        <h3 class="project__subtitle">background</h3>
          <div class="row justify-content-md-end">
            <div class="project__text col-md-10"><p>{{page.project-background}}</p>
            </div>
          </div>
        <div class="project__gallery">
          <div class="">
            <img class="alignnone wp-image-1155 size-full" src="{{site.baseurl}}/img/projects/{{page.background-image}}" alt="" width="1400" height="846">
          </div>
        </div>

        <div class="project__share">
          <div class="project__share-close"><i class="far fa-times-circle"></i></div>
          <h3 class="project__share-title">share project</h3>
          <nav class="project__share-nav">
            <a target="_blank" href="{{page.share-facebook}}">facebook</a>
            <a target="_blank" href="{{page.twitter}}">twitter</a>
            <a target="_blank" href="{{page.share-instagram}}">instagram</a>
            <a  href="mailto:?subject={{page.title}}&amp;body=https://onetaozen.github.io/ceptre{{page.url}}">mail</a>
            <!--<a id="copy" target="_blank" href="javascript:;" data-clipboard-text="{{site.baseurl}}{{page.url}}">link</a>-->
          </nav>
        </div>

        <h3 class="project__subtitle">design proposal</h3>
        <div class="row justify-content-md-end">
          <div class="project__text col-md-10">
            <div class="">
              <span class="">{{page.proposal}}</span>
            </div>
          </div>
        </div>

        <div class="row justify-content-md-end">
          <div class="project__metadata col-md-10">
            <div>
              <h5>– industry</h5>
              <h4>{{page.industry}}</h4>
            </div>
            <div>
              <h5>- services</h5>
              <h4>{{page.services}}</h4>
            </div>
            <div>
              <h5>website</h5>
              <h4><a target="_blank" href="{{page.web}}">www.ceptre.co.za</a></h4>
            </div>
          </div>
        </div>



        <div class="project__body">

          <p>
              <img class="alignnone wp-image-1154 size-full"
              style="font-size: 1rem;"
              src="{{site.baseurl}}/img/projects/{{page.img-1}}"
              alt="" width="1400" height="935"
              srcset="{{site.baseurl}}/img/projects/{{page.img-1}} 1400w,
              {{site.baseurl}}/img/projects/{{page.img-1}} 300w,
              {{site.baseurl}}/img/projects/{{page.img-1}} 768w,
              {{site.baseurl}}/img/projects/{{page.img-1}} 1024w"
              sizes="(max-width: 1400px) 100vw, 1400px">


              <img class="alignnone wp-image-1150 size-full"
              style="font-size: 1rem;"
              src="{{site.baseurl}}/img/projects/{{page.img-2}}"
              alt="" width="1400" height="846"
              srcset="{{site.baseurl}}/img/projects/{{page.img-2}} 1400w,
              {{site.baseurl}}/img/projects/{{page.img-2}} 300w,
              {{site.baseurl}}/img/projects/{{page.img-2}} 768w,
              {{site.baseurl}}/img/projects/{{page.img-2}} 1024w"
              sizes="(max-width: 1400px) 100vw, 1400px">

              <img class="alignnone wp-image-1189 size-full"
              src="{{site.baseurl}}/img/projects/{{page.img-3}}"
              alt="" width="1400" height="857"
              srcset="{{site.baseurl}}/img/projects/{{page.img-3}} 1400w,
              {{site.baseurl}}/img/projects/{{page.img-3}} 300w,
              {{site.baseurl}}/img/projects/{{page.img-3}} 768w,
              {{site.baseurl}}/img/projects/{{page.img-3}} 1024w"
              sizes="(max-width: 1400px) 100vw, 1400px">

              <img class="alignnone wp-image-1153 size-full"
              style="font-size: 1rem;"
              src="{{site.baseurl}}/img/projects/{{page.img-4}}"
              alt="" width="1400" height="846"
              srcset="{{site.baseurl}}/img/projects/{{page.img-4}} 1400w,
              {{site.baseurl}}/img/projects/{{page.img-4}} 300w,
              {{site.baseurl}}/img/projects/{{page.img-4}} 768w,
              {{site.baseurl}}/img/projects/{{page.img-4}} 1024w"
              sizes="(max-width: 1400px) 100vw, 1400px">

              <img class="alignnone wp-image-1152 size-full"
              style="font-size: 1rem;"
              src="{{site.baseurl}}/img/projects/{{page.img-5}}"
              alt="" width="1400" height="935"
              srcset="{{site.baseurl}}/img/projects/{{page.img-5}} 1400w,
              {{site.baseurl}}/img/projects/{{page.img-5}} 300w,
              {{site.baseurl}}/img/projects/{{page.img-5}} 768w,
              {{site.baseurl}}/img/projects/{{page.img-5}} 1024w"
              sizes="(max-width: 1400px) 100vw, 1400px">



          </p>

          {{content}}

          <a target="_blank" class="button dark behance" href="{{page.behance}}">view full project</a>

        </div>


      </div>
    </div>
  <footer>
  </footer>
  </article>
